@media only screen and (max-width: 1700px) {
	.fill {
		height: auto;
	}
}

@media only screen and (min-width: 992px) {
	.move {
		margin-top: -360px;
	}

}





.navbar {
	background-color: black;
}

.body {
	background-color: black;
}


.carousel-caption {
	height: 70%;
	font-size: 150px;
}

.btn-outline-light {
	background-color: black;
	color: white;
	border-color: white;
	font-family: 'Josefin Sans', 'sans-serif';

}

.display-1 {
	color: white;
	font-family: 'Josefin Sans', 'sans-serif';
	font-weight: 900;
}

.shop-all {
	color: black;
	font-family: 'Josefin Sans', 'sans-serif';
	font-weight: 900;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.display-3 {
	color: white;
	background-color: black;
	text-align: center;
	font-family: 'Josefin Sans', 'sans-serif';
	font-weight: 700;
}


.card-text {
	font-family: 'Josefin Sans', 'sans-serif';
	color: white;
}

.price {
	font-family: 'Josefin Sans', 'sans-serif';
	color: yellow;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: yellow;
	text-decoration: underline;
}


.category {
	color: white;
}

.shop-card-img {
	max-height: 450px;
	min-height: 450px;
}

.display-5 {
	font-family: 'Josefin Sans', 'sans-serif';
	color: white;
	font-weight: 900;
}

.display-6 {
	font-family: 'Josefin Sans', 'sans-serif';
	margin-top: 10%;
	color: black;
	font-weight: 900;
}

.shop-card-body {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.btn-light {
	font-family: 'Josefin Sans', 'sans-serif';
	color: black;
}
.add-cart {
	font-family: 'Josefin Sans', 'sans-serif';
	color: black;
	background-color: yellow;
	font-weight: 900;
}

.carousel-img {
	max-height: 550px;
}

.cart-img {
	max-height: 150px;
	max-width: 110px;
	min-height: 150px;
	min-width: 110px;
}

.quantity {
	border: solid white 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hr {
	border: 2px solid white;

}

.form-content {
	color: white;
	font-family: 'Josefin Sans', 'sans-serif';

}

